{% extends "auctions/layout.html" %}
<head>
    <style>
    table, td {
      border: 2px black;
    }
    </style>
    </head>
{% block body %}

{% for listing in Listings %}
<table> 
           
            
    <td><b>{{listing.auction.title}}</b><br>
        <img src="{{listing.auction.image}}" 
        alt="No Image" height="120" 
        onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png'"></td>
    <td><b>Owner:</b> {{listing.auction.owner}}<br>
    <b>Current price:</b> ${{listing.bidprice}}<br>
    <b>Current max bidder:</b> {{listing.bidder}}<br>
    <b>Description:</b>{{listing.auction.description}}
    <form action="{% url 'watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="watchactive" value="{{watch}}">
        <input type="hidden" name="watchid" value="{{listing.auction.id}}">
        <ul><input type="submit" value="{{bttnmsg}}"></ul> 
    </form>
       
    </td>
</table>
    {% if user.is_authenticated %}
        {% if listing.auction.owner == request.user %}
          <form action="{% url 'closedlist' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="bidlisting" value="{{listing.auction.id}}">
            <input type="hidden" name="winner" value="{{listing.bidder.id}}">
           <ul><input type="submit" value="Submit"> </ul> 
        </form>
        {% else %}
            <b>Bid for this listing:</b>
            <form action="{% url 'bidamount' %}" method="post">
                {% csrf_token %}
            
            <input type="hidden" name="bidlisting" value="{{listing.auction.id}}">
            <input type="number" id="quantity"
             name="quantity" min="{{minimum}}" step=".01" value="{{minimum}}">
             <br>Bidding is limited to the current price plus a minimum of .01 cents.
            <ul><input type="submit" value="Submit"> </ul> 
            
            </form>
        {% endif %} 
    {% else %}
        Not signed in.
    {% endif %}
        
{% endfor %}
{% if user.is_authenticated %}
    {% for comment in comments %}
    <hr style= color:black>
    <table>
        
        <td><b>{{comment.commentUser}}</b> comment:<br>
        {{comment.comment}}<br></td>
        
    </table> 
    <hr style= color:black>   
    {% endfor %}
    <form action="{% url 'newcomment' %}" method="post">
        {% csrf_token %}
        <b>Your comment: </b><br>
        {{ commform }}
        <input type="hidden" name="commlisting" value="{{AuId}}">
       <ul><input type="submit" value="Submit"> </ul> 
    </form>
{% endif %}   
    
{% endblock %}