{% extends "auctions/layout.html" %}
<style>
    table,td {
      padding: 15px;
    }
    
    </style>
{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <h2>{{user.username}} watchlist:</h2><br>
    
    {% for listing in Listings %}
        {% if listing.watchlisting.active == True %}
            <table style="width:65%"> 
                {% if user.is_authenticated %}
                    <td><a href="bid/{{listing.watchlisting.pk}}"><br><b>{{listing.watchlisting.title}}</b><br></a>                 
                <img src="{{listing.watchlisting.image}}" 
                    alt="No Image" height="120" 
                    onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png'"></td>
                <td><b>Owner:</b> {{listing.watchlisting.owner}}<br>
                            
                {% endif %}
            
                
                <hr style= color:black>
            </table>
        {% endif %}
        
    {% endfor %}
    
{% endblock %}