{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <form action = "{% url 'tasks:saveedit' %}" method="post">
        {% csrf_token %}
        <label for="ntitle"><h2>New Title:</h2></label><br>
        <input type="text" name="newtitle" required=true value="{{title}}" {{disabled}}> "*Title can not be edited after created."
        <br><label for="ncontent"><h2>Write new content:</h2></label><br>
        <textarea name="newcontent" required=true >{{content}}</textarea> 
        <br>
        <input type ="submit">
    </form>
{% endblock %}